body {
    text-align: center;
    background: #f4f7f0;
    color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-color: #990000;
    font-size: 84px;
    font-weight: bold;   
}

img {
    -moz-box-shadow: 3px 3px 4px 5px #000014;
    -webkit-box-shadow: 3px 3px 4px 5px #000014;
    box-shadow: 3px 3px 4px 5px #000014;
}

#slogan {
    color: #7A7A7A;
    font-family: 'Abril Fatface', cursive;
    font-stretch: expanded;
    word-spacing: 50px;
    font-variant: caps;
    font-style: italic;
    text-align: center;
    font-weight: normal;
    font-size: 52px;
}
p {
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}
ul {
	list-style-type: none;
    font-size: 18px;
    color: #008080;
}
#second {
    font-size: 20px;
    font-family: Brush Script, Avant Garde, sans-serif;
}