body {
    text-align: center;
    background: #f4f7f0;
    color: black;
    font-size: 22px;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-color: #990000;
    font-size: 96px;
    font-weight: bold;   
}

img {
    -moz-box-shadow: 3px 3px 4px 5px #000014;
    -webkit-box-shadow: 3px 3px 4px 5px #000014;
    box-shadow: 3px 3px 4px 5px #000014;
}

#slogan {
    color: #7A7A7A;
    font-family: 'Abril Fatface', cursive;
    font-variant: caps;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    width: 1200px;
}

p {
    font-family: 'Belleza', sans-serif;
    font-size: 32px;
}

h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 64px;
    margin-bottom: 1px;
}

ul {
	font-family: 'Abril Fatface', cursive;
    list-style-type: none;
    color: #008080;
}

#second {
    font-size: 36px;
}